.container-fluid{
    background-color: green;
    height: 100px;
}

footer{
    background-color: green;
    padding: 0 px;
}

/* carousel */
.cook {
    height: 550px;
}

/*sign_in, register*/
.user_data {
  max-width: 400px;
  margin: 0 auto;
  background-color: #9e9b9b;
  padding: 20px;
  border-radius: 10px;
}

.user_data h1 {
  text-align: center;
  margin-bottom: 20px;
}

.user_data p {
  text-align: center;
}

.user_data input[type=text],
.user_data input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.user_data button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.user_data button[type="submit"]:hover {
  background-color: #45a049;
}

.user_data .mt-5 {
  margin-top: 2rem !important;
}